body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */ 
}
body::-webkit-scrollbar { /* Chrome, Safari, Opera */
    display:none;
    height: 0px;
    width: 0px;
}

.backgroundimagemain{
    background-image: url(images/background.png);
    background-position: center;
    background-size:cover;
    /* background-image: linear-gradient(to top, rgb(5, 15, 71), rgb(52, 64, 167));
    background-image: radial-gradient(rgb(52, 64, 167) 25%,rgb(5, 15, 71)); */
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
}

.navContainer{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999
}
.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    margin-top: 100px;
}
.mainHead{
    background-color: rgba(52, 64, 167, 0);
    color: orange;

    grid-column-start: 3;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    padding: 5px 0px 20px 0px;
    margin: 5px 0px 20px 0px;
}
.mainHead h1{
    font-size: 3em;
}
.mainNav{
    grid-column-start: 3;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
    padding: 10px;
    /* margin: 5px; */
    border: 2px solid rgba(50,114,171);
    border-radius: 10px;
    background-color: rgba(4,8,34,1);
}
.topnav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255,255,255,255);
    width: 100%;
}
.topnav li{
    float: left;
}
.topnav li:hover{
    background-color: rgba(50,114,171);
}
.topnav li a{
    color: rgba(65,102,135);
    text-decoration: none;
    display: block;
    padding: 20px 20px;
}
.topnav li a:hover{
    /* color: rgba(50,114,171); */
    color: white;
}

/* Button section instead of list nav https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_group_border */
.btn-group .button {
    background-color: rgba(4,8,34,1); /* Green */
    border: 1px solid rgba(50,114,171);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-group .button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  .btn-group .button:hover {
    background-color: rgba(50,114,171,1);
  }
  .btn-group .activeButton{
    background-color: rgba(50,114,171,1);
  }

.topic{
    grid-column-start: 3;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 4;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    text-align: center;

    line-height: 1.5em;
    word-spacing: 1px;

    color: white;
}
.leftsection{
    grid-column-start: 1;
    grid-column-end: 2;
}
.rightsection{
    grid-column-start: 2;
    grid-column-end: 3;
}
.centersection{
    grid-column-start: 1;
    grid-column-end:5;
}
.centersection embed{
    width: 100%;
    height: 1000px;
}
.tightcentersection{
    grid-column-start: 2;
    grid-column-end: 4;
}

.clickImage img{
    border-radius: 15%;
    transition: .3s ease-in-out;
}
.clickImage img:hover{
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
}


/* Timeline code found from: https://codepen.io/hassan-kamal/pen/NNvYEQ?editors=1100 accessed 22/03/2021 */
.timelinecontainer {
    width: 80%;
    padding: 50px 0;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
 }
 
 .timelinecontainer:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #CCD1D9;
    z-index: 1
 }
 
.timeline-block {
    width: -webkit-calc(50% + 8px);
    width: -moz-calc(50% + 8px);
    width: calc(50% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
 }
 
 .timeline-block-right {
    float: right;
 }
 
 .timeline-block-left {
    float: left;
    direction: rtl
 }
 
 .marker {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #F5F7FA;
    background: #3638af;
    margin-top: 10px;
    z-index: 1
 }
 
 .timeline-content {
    width: 95%;
    padding: 0 15px;
    color: rgb(238, 238, 238)
 }
 
 .timeline-content h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 500
 }
 
 .timeline-content span {
    font-size: 17px;
    color: #dddddd;
 }
 
 .timeline-content p {
    font-size: 16px;
    line-height: 1.5em;
    word-spacing: 1px;
    color: rgb(206, 206, 206);
 }
 
 
 @media screen and (max-width: 768px) {
    .container:before {
       left: 8px;
       width: 2px;
    }
    .timeline-block {
       width: 100%;
       margin-bottom: 30px;
    }
    .timeline-block-right {
       float: none;
    }
 
    .timeline-block-left {
       float: none;
       direction: ltr;
    }
 }
 /* end of timeline code */